<div id="<%= dom_id(component, :index) %>">
  <%= turbo_stream_from component %>
  <%= render component %>
  <%= link_to "View", project_component_url(@project, component), class: "btn btn-white" %>
</div>

