<h1>Editing employee_position</h1>

<%= render 'form' %>

<%= link_to 'Show', [@employee_position.position_group, @employee_position] %> |
<%= link_to 'Back', position_group_employee_positions_path(@employee_position.position_group) %>
