<div id="<%= dom_id(position_classification, :index) %>">
  <%= turbo_stream_from position_classification %>
  <%= render position_classification %>
  <%= link_to "View", position_classification, class: "btn btn-white" %>
</div>

