<div id="<%= dom_id post %>">

  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Title</p>
    <%= post.title %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Flag</p>
    <%= post.flag %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Message</p>
    <%= post.message %>
  </div>
</div>
